[color]
	ui = auto
[alias]
	st = status -sb
	lg = log --oneline --graph --decorate --all
	co = checkout
	ci = commit
	df = diff --word-diff=color
	ls = ls-files
	ca = commit -a
[user]
	email = mail@lucaswerkmeister.de
	name = Lucas Werkmeister
[push]
	default = simple
[core]
	editor = vim
[status]
	branch = true
	short = true
