[color]
	ui = auto
[alias]
	st = status -sb
	lg = log --oneline --graph --decorate --all --author-date-order
	co = checkout
	ci = commit
	df = diff --word-diff=color
	ls = ls-files
	ca = commit -a
	dc = diff --word-diff=color --cached
[user]
	email = mail@lucaswerkmeister.de
	name = Lucas Werkmeister
[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
	pager = less --RAW-CONTROL-CHARS --chop-long-lines --tabs=1,5
[status]
	branch = true
	short = true
[fetch]
	prune = true
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
[rebase]
	autosquash = true
[help]
	autocorrect = 10
[pull]
	rebase = true
